* {
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900i');
body {
  background-color: #303133;
  font-family: 'Lato', sans-serif;
}

.excercise__container {
  display: flex;
  justify-content: center;
}

.excercise {
  width: 90vw;
  height: 50vh;
  background-color: #1d1d1f;
  margin-top: 20px;
  color: #b6b6b6;
}

.excercise__title {
  width: 85vw;
  padding-top: 20px;
  margin: 0 auto;
  font-size: 1em;
}

.excercise__description {
  width: 85vw;
  margin: 0 auto;
  padding: 20px 0;
  font-size: .8em;
}

.excercise__textarea {
  background-color: #b6b6b6;
  width: 85vw;
  height: 50px;
  margin: 0 auto;
  resize: none;
}

.input__container {
  text-align: center
}

.excercise__resolve {
  text-align: center;
}

.excercise__btn {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  color: #6795de;
  background-color: rgba(0, 0, 0, 0.2);
  border: #91b2e7 solid 1px;
  border-radius: 5px;
  transition: all .5s ease-out;
  outline:none;
}

.excercise__btn:hover {
  color: #91b2e7;
  background-color: #0b0c0c;
  transition: .5s;
}

.excercise__answer--text {
  padding-top: 40px;
}